@font-face {
    font-family: 'bogle-black';
    src: url("../fonts/Web/BogleWeb-Black.ttf") format("opentype");
  }

  @font-face {
    font-family: 'bogle-regular';
    src: url("../fonts/Web/BogleWeb-Regular.ttf") format("opentype");
  }
